server {
    listen   80;
    server_name  localhost;
    # MapServer
    location / {
        fastcgi_pass   127.0.0.1:9999;
        fastcgi_index  mapserv?*;
        fastcgi_param  SCRIPT_FILENAME  /usr/lib/cgi-bin/mapserv$fastcgi_script_name;
        include fastcgi_params;
    }
}