---
- name: Create path for maps
  file: path=/var/osm/ state=directory owner=root group=root mode=0644
  tags:
    - osm

- name: Download OSM map from Geofabrik
  sudo: yes
  shell: wget http://download.geofabrik.de/australia-oceania-latest.osm.pbf
  args:
    chdir: /var/osm/
    creates: /var/osm/australia-oceania-latest.osm.pbf
  tags:
    - osm

- name: Copy update.sh shell script to /var/osm
  sudo: yes
  template: src=update.sh.j2 dest=/var/osm/update.sh owner=root group=root mode=0754
  tags:
    - osm
    - cron

- cron: name="Update the OSM map weekly" special_time=weekly job="/var/osm/update.sh"
