---
- name: Install Packages
  apt: >
    pkg={{item}}
    state=installed
    update-cache=yes
  with_items:
    - mapserver-bin
    - cgi-mapserver
  tags:
    - mapserver

- name: Copy mapserver fastcgi service script
  template: src=mapserver.j2 dest=/etc/init.d/mapserver owner=root group=root mode=0755
  tags:
    - mapserver

- name: Start mapserver server
  service: name=mapserver state=started enabled=yes
  tags:
    - mapserver
