#define PASTER(str)  #str
#define STYLEPASTER2(stylename)   PASTER(stylename##style.msinc)
#define LEVELPASTER2(stylename,index)   PASTER(stylename##level##index.msinc)
#define STYLEPASTER(stylename)   STYLEPASTER2(stylename)
#define LEVELPASTER(stylename,level)   LEVELPASTER2(stylename,level)

## if you want unique layer names across zoom levels, use
## #define layername(name,suffix) xxstr(name)
## instead of the following macro

#define layername(name,suffix) xstr(name,suffix)
#define includefile(prefix,style) xstr(pri,suffix)
#define xstr(s,t) xxstr(s##t)
#define xxstr(s) #s

#include STYLEPASTER(THEME)
MAP

FONTSET "fonts.lst"
IMAGETYPE png
MAXSIZE 4000
SIZE 800 800
EXTENT OSM_EXTENT
UNITS OSM_UNITS
IMAGECOLOR _ocean_clr0
WEB
   METADATA
      "ows_enable_request"   "*"
      "labelcache_map_edge_buffer" "-10"
      "wms_abstract" "New Zealand Open Street Map WMS service provided by Catalyst Cloud"
      "wms_accessconstraints" "Free for limited non-commercial use. The right to charge a fee for commercial use is reserved." 
      "wms_addresstype" "street"
      "wms_address" "Catalyst IT, 150 Willis St"
      "wms_city" "Wellington"
      "wms_stateorprovince" "Wellington"
      "wms_postcode" "6011"
      "wms_country" "New Zealand"
      "wms_attribution_url_format" "image/jpeg"
      "wms_attribution_logourl_height" "20"
      "wms_attribution_logourl_href" "..."
      "wms_attribution_logourl_width" "100"
      "wms_attribution_onlineresource" "http://www.osm.org"
      "wms_attribution_title" "Hosted on Catalyst Cloud.  Data © OpenStreetMap"
      "wms_contactelectronicmailaddress" ""
      "wms_contactfacsimiletelephone" ""
      "wms_contactperson" ""
      "wms_contactorganization" ""
      "wms_contactposition" ""
      "wms_contactvoicetelephone" ""
      "wms_enable_request" "GetCapabilities GetMap"
      "wms_fees" "Free for limited non-commercial use. The right to charge a fee for commercial use is reserved." 
      "wms_srs" "EPSG:3857"
      "wms_title" "Catalyst OSM"
      "wms_getmap_formatlist" "jpeg png"
      "wms_keywordlist" "Catalyst,OSM,Open Street Map,New Zealand,basemap,roads"
   END
   IMAGEPATH "/var/basemaps/ms_tmp/"
   IMAGEURL "/ms_tmp/"
END

DEBUG _debug
#if _debug > 0 || _layerdebug > 0
CONFIG "MS_ERRORFILE" "stderr"
#endif

CONFIG "PROJ_LIB" _proj_lib
PROJECTION
   "init=epsg:OSM_SRID"
END


#include LEVELPASTER(THEME,0)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,1)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,2)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,3)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,4)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,5)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,6)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,7)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,8)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,9)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,10)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,11)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,12)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,13)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,14)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,15)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,16)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,17)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

#include LEVELPASTER(THEME,18)
#include "land.map"
#include "landusage.map"
#include "highways.map"
#include "buildings.map"
#include "borders.map"
#include "places.map"

SYMBOL
 name "citycircle"
 type ellipse
 points 1 1 end
 filled true
END

END
